body {
    background-color: #212121;
    /* background-color: rgb(41, 41, 41); */
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;

    display: grid;
    /* grid-template-columns: auto 1fr; */
    /* grid-template-areas: "sidebar main"; */

    /* overflow: hidden; */
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #005227;
    padding: 0;

    border-radius: 8px 8px 0px 0px;
    padding: 10px 20px; 
}

.box { /*Sem cabeçalho*/
    background-color: #161515;
    color: white;

    border-radius: 8px;
}

.box-cabecalho{
    margin-top: 20px;
    background-color: #161515;
    border-radius: 8px;
}

#hd{
    background-color: #1b1b1b;
}

.info-box-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    gap: 20px;

    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.main-ret{
    margin-left: 200px;
}

footer{
    margin-bottom: 190px;
}

footer .info{
    text-align: center;
}

/* Scroll Bar */

::-webkit-scrollbar{
    background-color: #161515;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    /* background-color: #3d3d3d; */
    /* background: linear-gradient(#14d16f, #009cce); */
    background: linear-gradient(#0fb15d, #005227);

    border-radius: 8px;
}

aside i{
    cursor: pointer;
}